<div class="header text-center text-white" id="head">
    <h1><br>Data Binding</h1>
    <button type="submit" routerLink="/string" class="mr-3 mt-5 button1">String </button>
    <button type="submit" routerLink="/property-binding" class="mr-3 mt-5 button1">Property </button>
    <button type="submit" routerLink="/event" class="mr-3 mt-5 button1">Event </button>
    <button type="submit" routerLink="/oneway" class="mr-3 mt-5 button1">One Way</button>
    <button type="submit" routerLink="/twoway" class="mt-3 mb-4 button1" >Two Way</button>
    </div>
      <div class="container-fluid bg-info text-white">
        <div class="row">
          <div class="col-lg-3 col-md-3"></div>
          <div class="col-lg-6 col-md-6 text-center">
            <br><br><br>
            <h2>  
              {{ name }}  
            </h2> <br><br>
            <img [src]="imgUrl"> 
            <br><br><br>
          </div>
          <div class="col-lg-3 col-md-3"></div>
        </div>
      </div>
    <div class="footer  text-center " id="head">@databinding<br><br></div>
    
